<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin | User Management</title>


  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css" />


  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
  <link rel="stylesheet"  href="/css/admin.css">
  <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>


<style>
  body{
    margin-top:20px;
    background:#FAFAFA;
}
.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}
</style>



</head>


<body class="sb-nav-fixed">
  <%- include('../partials/adminnav.ejs') %>

  <section>
  <!-- Main -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container">
      <div class="row">
          <div class="col-md-4 col-xl-3">
              <div class="card bg-c-blue order-card">
                  <div class="card-block">
                      <h6 class="m-b-20">Orders Recieved</h6>
            
       
          <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i></h2>
          <span class="text-white" style="margin-left:30px;margin-top:-80px;font-size:30px;"><%=orderData?.length%> orders</span>
                   
                  </div>
              </div>
          </div>
          
          <div class="col-md-4 col-xl-3">
              <div class="card bg-c-green order-card">
                  <div class="card-block">
                      
                    <h6 class="m-b-20">Total Revenue</h6>
                      <h2 class="text-right"><i class="fa fa-users f-left"></i></h2>
                      <span class="text-white" style="margin-left:30px;margin-top:-80px;font-size:30px;">Rs:<%=totalAmount%></span>
                   
                  </div>
              </div>
          </div>
          
          <div class="col-md-4 col-xl-3">
              <div class="card bg-c-yellow order-card">
                  <div class="card-block">
                      <h6 class="m-b-20">Users</h6>
                      <h2 class="text-right"><i class="fa fa-users f-left"></i></h2>
                      <span class="text-white" style="margin-left:30px;margin-top:-80px;font-size:30px;"><%=userDetail?.length%> users</span>
                   
                     
                  </div>
              </div>
          </div>
          
          <div class="col-md-4 col-xl-3">
              <div class="card bg-c-pink order-card">
                  <div class="card-block">
                    <h6 class="m-b-20">Products</h6>
                      <h2 class="text-right"><i class="fa fa-refresh f-left"></i></h2>
                      <span class="text-white" style="margin-left:30px;margin-top:-80px;font-size:30px;"><%=productnumber.length%>products</span>
                   
                     
                    
                  </div>
              </div>
          </div>
    </div>
  </div>
  </div>
  
  </div>

 <section style="margin-left:650px;margin-top:-350px;">

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>



<section>
<canvas id="doughnut" style="width:100%;max-width:400px;margin-left:250px;"></canvas>
<script>

    
  var canvaselement=document.getElementById("doughnut");
  var yValues = [<%=codamount%>,<%=paypalamount%>];
  var config={
  
      type : "doughnut",
      
      data: {

          labels: ["COD","Paypal"],
          datasets:[
              {
                  label:"Sales",
                  data: yValues,
                  backgroundColor: ["lightblue","lightpink"],  
              }]
              },

options: {
responsive: true

}

 
  };

  var chart= new Chart(canvaselement,config);
  


</script>
</section>
<section>

  <canvas id="myChart" style="width:100%;max-width:600px;margin-left:-450px;margin-top:-300px;"></canvas>
  <div><h2 style="margin-top:-350px;margin-left:-400px;">Report of product sales</h2></div>
<script>
  
 var canvaselemnt=document.getElementById('doughnut')
var xValues = ["pending", "delivered", "cancelled", "processing"];
var yValues = [<%=pending%>,<%=delivered%>,<%=cancelled%>,<%=processing%>];
var barColors = ["lightblue", "lightgreen","lightpink","lightyellow"];

new Chart("myChart", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
                    responsive: true,
                },
});
</script>
</section>

<section>
  <h1 style="margin-top:350px;margin-left:-340px;">
    Revenue Rate in chart view
  </h1>
  <h4 style="color:lightpink;">Today Revenue</h4>
  <h4 style="color:lightseagreen;">Monthly Revenue</h4>
  <h4 style="color:lightgreen;">Total Revenue</h4>
  <canvas id="piechart" style="width:100%;max-width:600px;margin-top:80px;margin-left:-340px;"></canvas>

<script>

var xValues = ["Today Revenue", "Monthly Revenue", "Total Revenue"];
var yValues = [<%=totalOrderToday%>,<%=amountPending%>,<%=totalAmount%>];
var barColors = [
  "#b91d47",
  "#00aba9",
  "#2b5797",
  "#e8c3b9",
  "#1e7145"
];

new Chart("piechart", {
  type: "pie",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    title: {
      display: true,
      text: "World Wide Wine Production 2018"
    }
  }
});
</script>
</section>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

  <script>
    $(document).ready(function () {
      $("#example").DataTable();
    });
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  <script src="	https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
  <script src="/public/jsadmin/scripts.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
  <script src="/public/assets/demo/chart-area-demo.js"></script>
  <script src="/public/assets/demo/chart-bar-demo.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
  <script src="/js/data.js"></script>

  <script src="/js/dash.js"></script>



  </body>

</html>